<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="poo2.prog3.clientecontrolconcursos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="poo2.prog3.clientecontrolconcursos.DetallePersonaActivity"
            android:label="@string/hint_detalle_persona"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="poo2.prog3.clientecontrolconcursos.ListPersonaActivity" />
        </activity>
        <activity
            android:name="poo2.prog3.clientecontrolconcursos.DetalleInstitucionActivity"
            android:label="@string/hint_detalle_institucion"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="poo2.prog3.clientecontrolconcursos.ListInstitucionActivity" />
        </activity>
        <activity
            android:name="poo2.prog3.clientecontrolconcursos.ListPersonaActivity"
            android:label="@string/hint_persona"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="poo2.prog3.clientecontrolconcursos.MainActivity" />
        </activity>
        <activity
            android:name="poo2.prog3.clientecontrolconcursos.ListInstitucionActivity"
            android:label="@string/hint_institucion"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="poo2.prog3.clientecontrolconcursos.MainActivity" />
        </activity>
        <activity android:name="poo2.prog3.clientecontrolconcursos.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>